<form [formGroup]="form">
  <div class="row">
    <div class="autocomplete col-3">
        <label for="zip">PLZ</label>
        <input type="text" formControlName="zip" id="zip">
        <ul class="autocomplete-items">
          <li *ngFor="let city of preview" (click)="setSelected(city)">{{city.zip + ' ' + city.city}}</li>
        </ul>
    </div>
    <div class="col-3">
      <label for="city">Ort</label>
      <input type="text" formControlName="city" id="city">
    </div>
  </div>
</form>
<button (click)="clearForm()">clear</button>
